<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- @Tas(testBed = [{name=com.ca.apm.tests.testbed.SpringBeanExtensionWindowsStandaloneTestbed,
	executeOn=emMachine}], owner = tirsr04, size = BIG, description = 'Control
	Scripts TestNg XML suite for all Control scripts tests'), snapshotPolicy 
	= SnapshotPolicy.ON_FAILURE, snapshot = SnapshotMode.LIVE -->
<suite name="SpringBeanExtension_Tests" configfailurepolicy="continue">
	<test name="SpringBeanExtension Tomcat WINDOWS" preserve-order="true">
		<classes>
			<class name="com.ca.apm.tests.agentextension.SpringBeanExtensionTest">
			</class>
		</classes>
	</test>
</suite>
		
