<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Introscope Plugin" parallel="classes" verbose="2">
  <test name="Test">
    <classes>
      <class name="com.ca.apm.systemtest.fld.plugin.em.SilentInstallerProperties"/>
      <class name="com.ca.apm.systemtest.fld.plugin.em.AcceptEula"/>
      <class name="com.ca.apm.systemtest.fld.plugin.em.DatabasePluginImplTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Introscope Plugin -->
